<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment details</title>
 
</head>
<body>
    <h1>APPOINTMENT DETAILS</h1>

    <p>Name:<%= appointment.user.name %></p>
    <p>Email:<%= appointment.user.email %></p>
   
    <p>Status:<%= appointment.status %></p>
    
</body>
</html>